In [41]:
#This script scores the all edges across all datasets

import numpy as np
import pandas as pd

In [42]:
#Read every dataset

df1= pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\banner\banner_net_edges24.csv")
df2 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\EmoryBA9\BA9_net_edges25.csv")
df3 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\EmoryBA24\BA24_net_edges13.csv")
df4 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Higginbotham\Higginbotham_net_edges16.csv")
df5 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\MSBB\MSBB_net_edges17.csv")
df6 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Rosmap_r1\r1_net_edges10.csv")
df7 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Rosmap_r2\r2_net_edges7.csv")
df8 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\RosmapBA637\Ba637_net_edges25.csv")
df9 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\ACT\ACT_net_edges7.csv")
df10 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\banner\banner_LFQ_net_edges7.csv")
df11 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\BLSA\BLSA_net_edges30.csv")
df12 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\Emory\emory_LFQ_net_edges2.csv")
df13 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\MSBB_LFO\MSBB_LFQ_net_edges9.csv")
df14 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\Mayo\mayo_net_edges4.csv")
df15 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\UPenn\upenn_net_edges34.csv")
df16 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20821165\syn208_c1_net_edges9.csv")
df17 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20821165\syn208_c4_net_edges6.csv")
df18 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20821165\syn208_disc_net_edges15.csv")
df19 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20933797\syn209_c1_net_edges34.csv")
df20 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20933797\syn209_c2_net_edges17.csv")
df21 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn30549757\syn305_dep_net_edges12.csv")
df22 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn30549757\syn305_neat_net_edges24.csv")
df23 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn44132374\syn441_net_edges12.csv")
df24 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\PEA\syn30549757\syn305_PEA_net_edges14.csv")
df25 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\PEA\syn52282088\syn522_PEA_net_edges6.csv")
df26 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\SomaScan\soma305_net_edges34.csv")

In [43]:
dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26]

In [44]:
#Create a column of empty Perturbation scores for each dataset

for df in dfs:
    df['Perturbation Score'] = None

In [45]:
print(df1['AD_present'])

0        True
1        True
2        True
3        True
4        True
         ...
33608    True
33609    True
33610    True
33611    True
33612    True
Name: AD_present, Length: 33613, dtype: bool

In [46]:
#Every dataset has a column AD_present and CTL_present, that, for each edge, either has a True or a False value. These values are then compared 
# for each dataset a respective score is assigned to the edge

for df in dfs:
    df['Perturbation Score'] = df.apply(lambda row: '01' if row['AD_present'] and not row['CTL_present'] else row['Perturbation Score'], axis=1)

In [47]:
for df in dfs:
    df['Perturbation Score'] = df.apply(lambda row: '10' if not row['AD_present'] and row['CTL_present'] else row['Perturbation Score'], axis=1)

In [48]:
for df in dfs:
    df['Perturbation Score'] = df.apply(lambda row: '11' if row['AD_present'] and row['CTL_present'] else row['Perturbation Score'], axis=1)

In [49]:
print(df1['Perturbation Score'])

0        11
1        11
2        11
3        11
4        11
         ..
33608    01
33609    01
33610    01
33611    01
33612    01
Name: Perturbation Score, Length: 33613, dtype: object

In [50]:
#Every dataset is reduced to only contain the three columns containing the interaction ID of its edges and its perturbation score

df1 = df1[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df2 = df2[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df3 = df3[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df4 = df4[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df5 = df5[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df6 = df6[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df7 = df7[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df8 = df8[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df9 = df9[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df10 = df10[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df11 = df11[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df12 = df12[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df13 = df13[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df14 = df14[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df15 = df15[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df16 = df16[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df17 = df17[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df18 = df18[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df19 = df19[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df20 = df20[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df21= df21[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df22 = df22[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df23 = df23[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df24 = df24[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df25 = df25[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]
df26 = df26[['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID', 'Perturbation Score']]

In [51]:
dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26]

In [52]:
#The columns AD Interaction ID and CTL Interaction ID are combined into one

for df in dfs:
    df['BioGRID Interaction ID'] = df['AD_#BioGRID Interaction ID'].combine_first(df['CTL_#BioGRID Interaction ID'])
    df = df.drop(columns=['AD_#BioGRID Interaction ID', 'CTL_#BioGRID Interaction ID'], inplace=True)

df2.head()

C:\Users\elvka\AppData\Local\Temp\ipykernel_24516\1318455724.py:2: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df['BioGRID Interaction ID'] = df['AD_#BioGRID Interaction ID'].combine_first(df['CTL_#BioGRID Interaction ID'])
C:\Users\elvka\AppData\Local\Temp\ipykernel_24516\1318455724.py:2: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df['BioGRID Interaction ID'] = df['AD_#BioGRID Interaction ID'].combine_first(df['CTL_#BioGRID Interaction ID'])

  Perturbation Score  BioGRID Interaction ID
0                 11               3683082.0
1                 11               3682959.0
2                 11               3462729.0
3                 11               3458763.0
4                 11               3390842.0

In [53]:
df2.head()

  Perturbation Score  BioGRID Interaction ID
0                 11               3683082.0
1                 11               3682959.0
2                 11               3462729.0
3                 11               3458763.0
4                 11               3390842.0

In [54]:
#The column perturbation score is renamed for each dataset so it includes the name of its dataset

df1 = df1.rename(columns={'Perturbation Score': 'Perturbation Score Banner'})
df2 = df2.rename(columns={'Perturbation Score': 'Perturbation Score BA9'})
df3 = df3.rename(columns={'Perturbation Score': 'Perturbation Score BA24'})
df4 = df4.rename(columns={'Perturbation Score': 'Perturbation Score Higginbotham'})
df5 = df5.rename(columns={'Perturbation Score': 'Perturbation Score MSBB'})
df6 = df6.rename(columns={'Perturbation Score': 'Perturbation Score Rosmap r1'})
df7 = df7.rename(columns={'Perturbation Score': 'Perturbation Score Rosmap r2'})
df8 = df8.rename(columns={'Perturbation Score': 'Perturbation Score BA637'})
df9 = df9.rename(columns={'Perturbation Score': 'Perturbation Score Act'})
df10 = df10.rename(columns={'Perturbation Score': 'Perturbation Score Banner LFQ'})
df11 = df11.rename(columns={'Perturbation Score': 'Perturbation Score BLSA'})
df12 = df12.rename(columns={'Perturbation Score': 'Perturbation Score Emory LFQ'})
df13 = df13.rename(columns={'Perturbation Score': 'Perturbation Score MSBB LFQ'})
df14 = df14.rename(columns={'Perturbation Score': 'Perturbation Score Mayo'})
df15 = df15.rename(columns={'Perturbation Score': 'Perturbation Score UPenn'})
df16 = df16.rename(columns={'Perturbation Score': 'Perturbation Score syn208 c1'})
df17 = df17.rename(columns={'Perturbation Score': 'Perturbation Score syn208 c4'})
df18 = df18.rename(columns={'Perturbation Score': 'Perturbation Score syn208 discovery'})
df19 = df19.rename(columns={'Perturbation Score': 'Perturbation Score syn209 c1'})
df20 = df20.rename(columns={'Perturbation Score': 'Perturbation Score syn209 c2'})
df21= df21.rename(columns={'Perturbation Score': 'Perturbation Score syn305 depleted'})
df22 = df22.rename(columns={'Perturbation Score': 'Perturbation Score syn305 neat'})
df23 = df23.rename(columns={'Perturbation Score': 'Perturbation Score syn441'})
df24 = df24.rename(columns={'Perturbation Score': 'Perturbation Score syn305 PEA'})
df25 = df25.rename(columns={'Perturbation Score': 'Perturbation Score syn522 PEA'})
df26 = df26.rename(columns={'Perturbation Score': 'Perturbation Score soma305'})

df1.head()

  Perturbation Score Banner  BioGRID Interaction ID
0                        11                276575.0
1                        11                304999.0
2                        11                718122.0
3                        11                718714.0
4                        11                894035.0

In [55]:
df1 = df1[['BioGRID Interaction ID', 'Perturbation Score Banner']]

df1.head()

   BioGRID Interaction ID Perturbation Score Banner
0                276575.0                        11
1                304999.0                        11
2                718122.0                        11
3                718714.0                        11
4                894035.0                        11

In [56]:
#All perturbation scores are combined into one dataset called 'merged'

merged = pd.merge(df1, df2, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df3, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df4, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df5, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df6, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df7, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df8, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df9, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df10, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df11, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df12, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df13, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df14, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df15, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df16, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df17, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df18, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df19, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df20, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df21, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df22, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df23, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df24, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df25, on = 'BioGRID Interaction ID', how = 'outer' )
merged = pd.merge(merged, df26, on = 'BioGRID Interaction ID', how = 'outer' )

merged.head()

,BioGRID Interaction ID,Perturbation Score Banner,Perturbation Score BA9,Perturbation Score BA24,Perturbation Score Higginbotham,Perturbation Score MSBB,Perturbation Score Rosmap r1,Perturbation Score Rosmap r2,Perturbation Score BA637,Perturbation Score Act,...,Perturbation Score syn208 c4,Perturbation Score syn208 discovery,Perturbation Score syn209 c1,Perturbation Score syn209 c2,Perturbation Score syn305 depleted,Perturbation Score syn305 neat,Perturbation Score syn441,Perturbation Score syn305 PEA,Perturbation Score syn522 PEA,Perturbation Score soma305
0,276575.0,11,11,11,11,NaN,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,304999.0,11,NaN,11,11,NaN,11,11,11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
2,718122.0,11,NaN,NaN,11,NaN,11,11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
3,718714.0,11,11,11,11,11,11,11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,894035.0,11,11,11,11,NaN,11,11,11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
#The empty column 'Perutrbation Status' is created

merged['Perturbation status'] = None

In [58]:
merged.shape

(69826, 28)

In [59]:
#A function is created to give each edge a perturbation status based on its perturbation scores

def determine_perturbation_status(row):
    # Extract the relevant codes ignoring NaNs
    codes = row.iloc[1:-1].dropna().unique()

    # Determine the status based on the codes
    if set(codes) == {'11'}:
        return 'Non perturbed'
    elif set(codes) == {'01'}:
        return 'Strictly gained'
    elif set(codes) == {'10'}:
        return 'Strictly lost'
    elif set(codes) == {'01', '11'}:
        return 'Partly gained'
    elif set(codes) == {'10', '11'}:
        return 'Partly lost'
    elif set(codes) == {'10', '01'}:
        return 'Partly gained/lost'
    elif set(codes) == {'10', '11', '01'}:
        return 'Partly gained/lost'
    else:
        return np.nan  # In case no pattern is matched

# Apply the function to each row
merged['Perturbation Status'] = merged.apply(determine_perturbation_status, axis=1)

merged.head()

,BioGRID Interaction ID,Perturbation Score Banner,Perturbation Score BA9,Perturbation Score BA24,Perturbation Score Higginbotham,Perturbation Score MSBB,Perturbation Score Rosmap r1,Perturbation Score Rosmap r2,Perturbation Score BA637,Perturbation Score Act,...,Perturbation Score syn209 c1,Perturbation Score syn209 c2,Perturbation Score syn305 depleted,Perturbation Score syn305 neat,Perturbation Score syn441,Perturbation Score syn305 PEA,Perturbation Score syn522 PEA,Perturbation Score soma305,Perturbation status,Perturbation Status
0,276575.0,11,11,11,11,NaN,11,11,11,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Non perturbed
1,304999.0,11,NaN,11,11,NaN,11,11,11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,None,Non perturbed
2,718122.0,11,NaN,NaN,11,NaN,11,11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,None,Non perturbed
3,718714.0,11,11,11,11,11,11,11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Non perturbed
4,894035.0,11,11,11,11,NaN,11,11,11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Non perturbed

In [60]:
#A preliminary dataset with the perturbation stauses is saved

merged.to_csv(r'C:\Users\elvka\.Desktopreal\university\Thesis\Data\perturbation_profile.csv', index = False)

In [61]:
grouped = merged.groupby('Perturbation Status')

In [62]:
#It is counted how many edges have been assigned to each perturbation status

group_counts = grouped.size()

print(group_counts)

Perturbation Status
Non perturbed         51243
Partly gained          6942
Partly gained/lost     1287
Partly lost            8508
Strictly gained         595
Strictly lost          1251
dtype: int64

In [63]:
grouped.to_csv(r'C:\Users\elvka\.Desktopreal\university\Thesis\Data\perturbation_profile.csv', index = False)

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_csv'

In [64]:
merged['NaN Count'] = merged.isna().sum(axis=1)

In [65]:
#The edges are ordered according to their Perturbation Status and the amount of NaNs they include

status_order = [
    'Strictly gained',
    'Strictly lost',
    'Partly gained',
    'Partly lost',
    'Partly gained/lost',
    'Non perturbed'
]

In [66]:
merged['Perturbation Status'] = pd.Categorical(merged['Perturbation Status'], categories=status_order, ordered=True)

In [67]:
df_sorted = merged.sort_values(by=['Perturbation Status', 'NaN Count'])

In [68]:
df_sorted = df_sorted.drop(columns=['NaN Count'])

In [69]:
df_sorted.head()

,BioGRID Interaction ID,Perturbation Score Banner,Perturbation Score BA9,Perturbation Score BA24,Perturbation Score Higginbotham,Perturbation Score MSBB,Perturbation Score Rosmap r1,Perturbation Score Rosmap r2,Perturbation Score BA637,Perturbation Score Act,...,Perturbation Score syn209 c1,Perturbation Score syn209 c2,Perturbation Score syn305 depleted,Perturbation Score syn305 neat,Perturbation Score syn441,Perturbation Score syn305 PEA,Perturbation Score syn522 PEA,Perturbation Score soma305,Perturbation status,Perturbation Status
33121,321845.0,01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01,None,Strictly gained
33278,985524.0,01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01,None,Strictly gained
33302,262623.0,01,NaN,NaN,01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Strictly gained
33329,3451011.0,01,NaN,NaN,01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Strictly gained
33481,3102920.0,01,NaN,NaN,01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Strictly gained

In [70]:
df_sorted.to_csv(r'C:\Users\elvka\.Desktopreal\university\Thesis\Data\perturbation_profile.csv', index = False)

In [71]:
print(len(df_sorted))

69826

In [72]:
#Create Count 10 and Count 01 Scores

code_columns = df_sorted.columns[1:-1]

# Count occurrences of '01' in the relevant columns
count_01 = (df_sorted[code_columns] == '01').sum().sum()

print("Total number of times '01' appears in the DataFrame:", count_01)

Total number of times '01' appears in the DataFrame: 9561

In [73]:
code_columns = df_sorted.columns[1:-1]

# Count occurrences of '01' in the relevant columns
count_01 = (df_sorted[code_columns] == '10').sum().sum()

print("Total number of times '01' appears in the DataFrame:", count_01)

Total number of times '01' appears in the DataFrame: 11981

In [74]:
code_columns = df_sorted.columns[1:-1]

# Count the occurrences of '01' in each row
df_sorted['Count_01'] = (df_sorted[code_columns] == '01').sum(axis=1)

# Count the occurrences of '10' in each row
df_sorted['Count_10'] = (df_sorted[code_columns] == '10').sum(axis=1)

# Create a column that sums '01' and '10' counts
df_sorted['Total_01_10'] = df_sorted['Count_01'] + df_sorted['Count_10']

# Sort the DataFrame based on 'Total_01_10' in descending order
df_sorted = df_sorted.sort_values(by='Total_01_10', ascending=False)

# Optionally drop the helper columns if not needed
df_sorted_most_pertrubed = df_sorted.drop(columns=['Count_01', 'Count_10', 'Total_01_10'])

In [75]:
df_sorted_most_pertrubed.head()

,BioGRID Interaction ID,Perturbation Score Banner,Perturbation Score BA9,Perturbation Score BA24,Perturbation Score Higginbotham,Perturbation Score MSBB,Perturbation Score Rosmap r1,Perturbation Score Rosmap r2,Perturbation Score BA637,Perturbation Score Act,...,Perturbation Score syn209 c1,Perturbation Score syn209 c2,Perturbation Score syn305 depleted,Perturbation Score syn305 neat,Perturbation Score syn441,Perturbation Score syn305 PEA,Perturbation Score syn522 PEA,Perturbation Score soma305,Perturbation status,Perturbation Status
33235,3374763.0,01,10,NaN,11,11,11,11,11,10,...,NaN,NaN,11,01,11,NaN,NaN,11,None,Partly gained/lost
47526,3504864.0,NaN,NaN,NaN,NaN,11,NaN,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Partly lost
14832,3349811.0,11,10,NaN,11,NaN,11,11,11,10,...,NaN,NaN,11,11,11,NaN,NaN,NaN,None,Partly lost
3941,3478193.0,11,11,11,11,NaN,11,11,01,11,...,NaN,NaN,NaN,01,11,NaN,NaN,NaN,None,Partly gained/lost
37206,590802.0,NaN,NaN,11,11,NaN,11,11,11,NaN,...,NaN,NaN,NaN,NaN,10,NaN,NaN,01,None,Partly gained/lost

In [76]:
#Save dataset that includes Count 10 and Count 01 Scores

df_sorted_most_pertrubed.to_csv(r'C:\Users\elvka\.Desktopreal\university\Thesis\Data\perturbation_profile_most_perturbed.csv', index = False)

In [77]:
df_sorted['Count_01'] = (df_sorted[code_columns] == '01').sum(axis=1)
df_sorted = df_sorted.sort_values(by='Count_01', ascending=False)
df_sorted.head()

,BioGRID Interaction ID,Perturbation Score Banner,Perturbation Score BA9,Perturbation Score BA24,Perturbation Score Higginbotham,Perturbation Score MSBB,Perturbation Score Rosmap r1,Perturbation Score Rosmap r2,Perturbation Score BA637,Perturbation Score Act,...,Perturbation Score syn305 neat,Perturbation Score syn441,Perturbation Score syn305 PEA,Perturbation Score syn522 PEA,Perturbation Score soma305,Perturbation status,Perturbation Status,Count_01,Count_10,Total_01_10
40989,3443577.0,NaN,NaN,11,01,NaN,01,NaN,01,NaN,...,NaN,NaN,NaN,NaN,NaN,None,Partly gained,4,0,4
7897,3404499.0,11,NaN,NaN,01,NaN,11,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,Partly gained,3,0,3
34509,3382264.0,NaN,01,11,11,NaN,11,11,11,11,...,NaN,11,NaN,NaN,01,None,Partly gained,3,0,3
14129,3358659.0,11,11,11,11,NaN,11,11,01,11,...,01,NaN,NaN,NaN,01,None,Partly gained,3,0,3
34524,746219.0,NaN,01,11,11,NaN,11,11,11,11,...,11,11,NaN,NaN,11,None,Partly gained,3,0,3

In [78]:
df_sorted = df_sorted.sort_values(by='Count_10', ascending=False)
df_sorted.head()

,BioGRID Interaction ID,Perturbation Score Banner,Perturbation Score BA9,Perturbation Score BA24,Perturbation Score Higginbotham,Perturbation Score MSBB,Perturbation Score Rosmap r1,Perturbation Score Rosmap r2,Perturbation Score BA637,Perturbation Score Act,...,Perturbation Score syn305 neat,Perturbation Score syn441,Perturbation Score syn305 PEA,Perturbation Score syn522 PEA,Perturbation Score soma305,Perturbation status,Perturbation Status,Count_01,Count_10,Total_01_10
47526,3504864.0,NaN,NaN,NaN,NaN,11,NaN,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,Partly lost,0,4,4
32805,3506357.0,11,NaN,11,NaN,11,11,11,11,NaN,...,NaN,10,NaN,NaN,NaN,None,Partly lost,0,4,4
14832,3349811.0,11,10,NaN,11,NaN,11,11,11,10,...,11,11,NaN,NaN,NaN,None,Partly lost,0,4,4
7188,876485.0,11,11,11,11,11,11,11,11,NaN,...,NaN,NaN,NaN,NaN,NaN,None,Partly lost,0,3,3
24368,3371835.0,11,11,11,11,NaN,11,11,11,10,...,NaN,NaN,NaN,NaN,NaN,None,Partly lost,0,3,3

In [79]:
#Get amount of edges assigned to each Count 10/01 score

print((df_sorted['Count_01'] == 3).sum())

30

In [80]:
print((df_sorted['Count_10'] == 3).sum())

37

In [81]:
print((df_sorted['Count_01'] == 2).sum())

674

In [82]:
print((df_sorted['Count_01'] == 1).sum())

8119

In [83]:
print((df_sorted['Count_10'] == 2).sum())

852

In [84]:
print((df_sorted['Count_10'] == 1).sum())

10154