In [1]:
#This script analyzes the nodes present in highly perturbed networks

import numpy as np
import pandas as pd

In [2]:
#The nodes in every highly rewired network are read

df1 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\banner\banner_pert_nodes24_ext.csv")
df2 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\EmoryBA9\BA9_pert_nodes25_ext.csv")
df3 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\EmoryBA24\BA24_pert_nodes13_ext.csv")
df4 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Higginbotham\Higginbotham_pert_nodes16_ext.csv")
df5 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\MSBB\MSBB_pert_nodes17_ext.csv")
df6 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Rosmap_r1\r1_pert_nodes10_ext.csv")
df7 = pd.read_csv(r"c:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Rosmap_r2\r2_pert_nodes7.csv")
df8 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\RosmapBA637\BA637_pert_nodes25_ext.csv")
df9 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\ACT\ACTL_pert_nodes7.csv")
df10 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\banner\banner_LFQ_pert_nodes7_ext.csv")
df11 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\BLSA\BLSA_pert_nodes30_ext.csv")
df12 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\Emory\emory_LFQ_pert_nodes2.csv")
df13 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\MSBB_LFO\MSBB_LFQ_pert_nodes9.csv")
df14 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\Mayo\mayo_pert_nodes4.csv")
df15 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\LFQ\UPenn\upenn_pert_nodes34.csv")
df16 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20821165\syn208_c1_pert_nodes9.csv")
df17 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20821165\syn208_c4_pert_nodes6.csv")
df18 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20821165\syn208_disc_pert_nodes15.csv")
df19 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20933797\syn209_c1_pert_nodes34.csv")
df20 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn20933797\syn209_c2_pert_nodes17.csv")
df21 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn30549757\syn305_dep_pert_nodes12.csv")
df22 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn30549757\syn305_neat_pert_nodes24.csv")
df23 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\TMT\syn44132374\syn441_pert_nodes12.csv")
df24 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\PEA\syn30549757\syn305_PEA_pert_nodes14.csv")
df25 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\PEA\syn52282088\syn522_PEA_pert_nodes6.csv")
df26 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\SomaScan\soma305_pert_nodes34.csv")

In [3]:
#A set is created of all nodes in all networks

set1 = set(df1['name'])
set2 = set(df2['name'])
set3 = set(df3['name'])
set4 = set(df4['name'])
set5 = set(df5['name'])
set6 = set(df6['name'])
set7 = set(df7['name'])
set8 = set(df8['name'])
set9 = set(df9['name'])
set10 = set(df10['name'])
set11 = set(df11['name'])
set12 = set(df12['name'])
set13 = set(df13['name'])
set14 = set(df14['name'])
set15 = set(df15['name'])
set16 = set(df16['name'])
set17 = set(df17['name'])
set18 = set(df18['name'])
set19 = set(df19['name'])
set20 = set(df20['name'])
set21 = set(df21['name'])
set22 = set(df22['name'])
set23 = set(df23['name'])
set24 = set(df24['name'])
set25 = set(df25['name'])
set26 = set(df26['name'])

In [4]:
#All sets are combined to create a global set that includes every protein just once

combined_set = set1.union(set2).union(set3).union(set4).union(set5).union(set6).union(set7).union(set8).union(set9).union(set10).union(set11).union(set12).union(set13).union(set14).union(set15).union(set16).union(set17).union(set18).union(set19).union(set20).union(set21).union(set22).union(set23).union(set24).union(set25).union(set26)
print(len(combined_set))

4925

In [5]:
dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26]

In [6]:
#A dataframe is created from the global set and the column 'Score' is added

prot_list = list(combined_set)

df = pd.DataFrame(prot_list, columns=['Name (SWISS-PROT)'])
df['Score'] = None

df.head()

  Name (SWISS-PROT) Score
0            P60709  None
1            P51398  None
2            P21980  None
3            O75909  None
4            Q13114  None

In [7]:
#Each node is scored according to how often it appears in each dataset

def calculate_score(name, dfs):
    score = sum(df['name'].eq(name).sum() for df in dfs)
    return score

# Calculate and insert the score into the 'Score' column
df['Score'] = df['Name (SWISS-PROT)'].apply(lambda name: calculate_score(name, dfs))



print(df)

     Name (SWISS-PROT)  Score
0               P60709     16
1               P51398      5
2               P21980      3
3               O75909      1
4               Q13114      4
...                ...    ...
4920            Q9UIW2      1
4921            Q13885      2
4922            Q08945      6
4923              WASL      1
4924              BAG2      2

[4925 rows x 2 columns]

In [8]:
#The nodes are sorted according to their score

df = df.sort_values(by='Score', ascending=False)
df = df.reset_index(drop=True)
print(df)

     Name (SWISS-PROT)  Score
0               P11021     20
1               P63104     19
2               P62993     18
3               P11279     18
4               P61981     18
...                ...    ...
4920           PPP2R5E      1
4921              FLNB      1
4922            P49748      1
4923            Q07002      1
4924            Q14344      1

[4925 rows x 2 columns]

In [9]:
#The key is a dataframe that contains Gene IDs and their matching SWISS-PROT Accessions Numbers. The following steps simply extend the scored dataset of nodes to both naming systems

key = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\key_genename_swissprot.csv")

key.head()

     name SWISS-PROT
0  MAP2K4     P45985
1   GATA2     P23769
2    RPA2     P15927
3    ARF1     P84077
4    ARF3     P61204

In [10]:
df = pd.merge(df, key, left_on = 'Name (SWISS-PROT)', right_on = 'SWISS-PROT', how = 'left')



df.head()

  Name (SWISS-PROT)  Score   name SWISS-PROT
0            P11021     20  HSPA5     P11021
1            P63104     19  YWHAZ     P63104
2            P62993     18   GRB2     P62993
3            P11279     18  LAMP1     P11279
4            P61981     18  YWHAG     P61981

In [11]:
df.drop(columns='SWISS-PROT', inplace=True)

In [12]:
df.rename(columns={'name': 'Official Symbol Interactor'}, inplace=True)

df.head()

  Name (SWISS-PROT)  Score Official Symbol Interactor
0            P11021     20                      HSPA5
1            P63104     19                      YWHAZ
2            P62993     18                       GRB2
3            P11279     18                      LAMP1
4            P61981     18                      YWHAG

In [13]:
df = df[['Name (SWISS-PROT)', 'Official Symbol Interactor', 'Score']]

df.head()

  Name (SWISS-PROT) Official Symbol Interactor  Score
0            P11021                      HSPA5     20
1            P63104                      YWHAZ     19
2            P62993                       GRB2     18
3            P11279                      LAMP1     18
4            P61981                      YWHAG     18

In [14]:
df.to_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\nodes_of_interest.csv", index = False)

In [15]:
print(len(df))

4959

In [17]:
#Measure total amount of nodes in rewired networks and average size of network

sum_nodes = 0
for df in dfs:
    sum_nodes = sum_nodes + len(df)

average = sum_nodes/26

print(sum_nodes)
print(average)

13143
505.5