In [565]:
#This code seperates diseased and healthy groups before imputation, so they can be imputed seperately.

import numpy as np
import pandas as pd

In [567]:
#Read the dataset and transform (if necessary)

df = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\SomaScan\syn30549757_Somascan_norm.csv")

df = df.T
df.columns = df.iloc[0]
df = df.drop(['protein IDs'])
df = df.reset_index()
df = df.rename(columns={'index': 'protein IDs'})
df.columns.name = None

df.head()

,protein IDs,P43320,P04049,P51814,P19419,P43080,Q14457,Q01968,O95238,Q99LC4,...,Q7Z408,Q9NYJ7,Q8N3Z0,Q96EC8,Q8N729,Q50LG9,O43296,P51164,P33316,O14896
0,Soma38429,3.39955,3.458494,3.409342,3.353461,3.366757,3.395421,3.505253,3.456582,3.323162,...,3.709157,3.254715,3.279869,3.473957,3.565436,3.501308,3.467126,3.553388,3.655923,3.506077
1,Soma40545,3.407565,3.438314,3.420048,3.355491,3.384719,3.400851,3.507891,3.468653,3.31612,...,3.666805,3.261653,3.280009,3.481511,3.540239,3.50897,3.47495,3.560672,3.640159,3.512806
2,Soma41236,3.43894,3.457215,3.418481,3.345257,3.369697,3.392844,3.51095,3.459955,3.33482,...,3.693344,3.266287,3.282945,3.470548,3.494299,3.493608,3.465526,3.556872,3.655398,3.514908
3,Soma42729,3.398083,3.464614,3.408155,3.34107,3.354961,3.398301,3.515098,3.457675,3.322537,...,3.711913,3.2506,3.272963,3.466623,3.462506,3.490813,3.464252,3.543041,3.658154,3.477899
4,Soma43738,3.399659,3.423356,3.405651,3.345843,3.363734,3.387565,3.501807,3.462448,3.320511,...,3.653322,3.258888,3.275836,3.466642,3.370976,3.48506,3.461726,3.551424,3.617931,3.506198

In [568]:
#Replace 0 with nan

df.replace(0, np.nan, inplace=True)

In [569]:
df.shape

(36, 6394)

In [570]:
#Check number of rows

print(len(df))

36

In [571]:
#Remove proteins with only null values

df = df.dropna(axis=1, how='all')

In [572]:
df.shape

(36, 6394)

In [574]:
#Seperate groups into AD and CTL

In [575]:
#Read sampletraits

df2 = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\SomaScan\syn30549757_Somascan_clinical.csv")
df2.head()

,batch.channel,Group,sex,age,Abeta42,tTau,pTau,batch,study
0,Soma38429,Control,1,81,608.817432,76.197892,40.073875,1,syn30549757
1,Soma40545,Control,1,76,492.435773,40.221389,19.357669,1,syn30549757
2,Soma41236,Control,1,67,745.793295,54.892674,28.152655,1,syn30549757
3,Soma42729,Control,1,61,663.707993,61.886366,49.255774,1,syn30549757
4,Soma43738,Control,0,70,524.140493,25.941459,21.771318,1,syn30549757

In [576]:
#Isolate sampletraits AD

df2_ad = df2[df2['Group'] == 'AD']

print(len(df2_ad))

18

In [577]:
#Isolate abundance AD

df_ad = df[df['protein IDs'].isin(df2_ad['batch.channel'])]

print(len(df_ad))

18

In [578]:
#Isolate sampletraits CTL
df2_ctl = df2[df2['Group'] == 'Control']

print(len(df2_ctl))

18

In [579]:
#Isolate abundance CTL

df_ctl = df[df['protein IDs'].isin(df2_ctl['batch.channel'])]

print(len(df_ctl))

18

In [580]:
df_ad.head()

,protein IDs,P43320,P04049,P51814,P19419,P43080,Q14457,Q01968,O95238,Q99LC4,...,Q7Z408,Q9NYJ7,Q8N3Z0,Q96EC8,Q8N729,Q50LG9,O43296,P51164,P33316,O14896
6,Soma43913,3.409319,3.474515,3.425877,3.35633,3.380976,3.4023,3.511721,3.4652,3.326927,...,3.678193,3.253387,3.279475,3.473716,3.434507,3.502196,3.47284,3.556785,3.667282,3.462337
7,Soma43981,3.405203,3.460881,3.434172,3.341205,3.373963,3.407136,3.51069,3.471632,3.326579,...,3.658759,3.266945,3.280473,3.492843,3.42711,3.511388,3.477531,3.565996,3.634459,3.456981
8,Soma44073,3.408358,3.46343,3.409824,3.351532,3.372188,3.399619,3.516899,3.466574,3.323213,...,3.677693,3.259028,3.272213,3.47283,3.497169,3.506761,3.470602,3.552667,3.655164,3.505251
9,Soma44436,3.430683,3.456901,3.438804,3.337726,3.383207,3.41227,3.513973,3.47655,3.34218,...,3.653981,3.275225,3.300334,3.488475,3.466742,3.520682,3.500845,3.579271,3.630776,3.417811
11,Soma44498,3.423301,3.454202,3.430312,3.353001,3.389717,3.414553,3.522062,3.494759,3.334251,...,3.643835,3.256767,3.283039,3.491109,3.518507,3.532498,3.486715,3.57101,3.637765,3.43084

In [581]:
df_ctl.head()

,protein IDs,P43320,P04049,P51814,P19419,P43080,Q14457,Q01968,O95238,Q99LC4,...,Q7Z408,Q9NYJ7,Q8N3Z0,Q96EC8,Q8N729,Q50LG9,O43296,P51164,P33316,O14896
0,Soma38429,3.39955,3.458494,3.409342,3.353461,3.366757,3.395421,3.505253,3.456582,3.323162,...,3.709157,3.254715,3.279869,3.473957,3.565436,3.501308,3.467126,3.553388,3.655923,3.506077
1,Soma40545,3.407565,3.438314,3.420048,3.355491,3.384719,3.400851,3.507891,3.468653,3.31612,...,3.666805,3.261653,3.280009,3.481511,3.540239,3.50897,3.47495,3.560672,3.640159,3.512806
2,Soma41236,3.43894,3.457215,3.418481,3.345257,3.369697,3.392844,3.51095,3.459955,3.33482,...,3.693344,3.266287,3.282945,3.470548,3.494299,3.493608,3.465526,3.556872,3.655398,3.514908
3,Soma42729,3.398083,3.464614,3.408155,3.34107,3.354961,3.398301,3.515098,3.457675,3.322537,...,3.711913,3.2506,3.272963,3.466623,3.462506,3.490813,3.464252,3.543041,3.658154,3.477899
4,Soma43738,3.399659,3.423356,3.405651,3.345843,3.363734,3.387565,3.501807,3.462448,3.320511,...,3.653322,3.258888,3.275836,3.466642,3.370976,3.48506,3.461726,3.551424,3.617931,3.506198

In [583]:
df_ctl_dropped_na = df_ctl.dropna(axis=1, how='all')
df_ctl_dropped_na.shape

(18, 6394)

In [584]:
df_ad.shape

(18, 6394)

In [585]:
df_ad_dropped_na = df_ad.dropna(axis=1, how='all')
df_ad_dropped_na.shape

(18, 6394)

In [586]:
df_ctl.columns.isna().all().sum()

0

In [587]:
df_ad.columns.isna().all().sum()

0

In [588]:
#Replace nans with 0 if all values in a group are nan

for column in df_ad.columns:
    if df_ad[column].isna().all():
        df_ad.loc[:, column] = 0

In [589]:
for column in df_ctl.columns:
    if df_ctl[column].isna().all():
        df_ctl.loc[:, column] = 0

In [590]:
df_ad.to_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\SomaScan\syn30549757_Somascan_norm_ad.csv", index=False)

In [591]:
df_ctl.to_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\CSF\SomaScan\syn30549757_Somascan_norm_ctl.csv", index=False)