In [1]:
#This code averages out the abundance level for both the diseased and the healthy group

import numpy as np
import pandas as pd

In [2]:
#Read the imputed, diseased dataset

df_ad = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Rosmap_r1\Rosmap_r1_imp_ad.csv")

df_ad.head()

,protein IDs,VAMP1|P23763,KCTD13|Q8WZ19,TXNDC12|O95881,PDHX|O00330,APIP|Q96GX9,CIAO1|O76071,NNT|Q13423,KIF3B|O15066,ULK1|O75385,...,NUCB1|Q02818,FAM160B1|Q5W0V3,CPNE4|Q96A23,RBBP5|Q15291,FGD4|F8VWL3,S1PR5|Q9H228,GIGYF2|Q6Y7W6,YME1L1|Q96TA2,PPP1R3F|Q6ZSY5,CACNG4|Q9UBN1
0,Rosmapr1.b01.129N,13.344974,9.029785,12.454161,15.075861,11.242332,11.341496,17.287376,13.871809,11.698214,...,13.656949,12.720178,13.338419,11.038639,11.877495,9.421116,13.030068,12.165324,10.504678,9.129937
1,Rosmapr1.b01.130N,13.417393,9.034733,12.263156,15.240976,10.799492,11.463078,17.250195,13.929808,11.582646,...,13.796484,12.945836,13.349100,10.883886,11.970072,9.454832,12.933283,12.184797,12.345822,9.099872
2,Rosmapr1.b02.127N,13.141143,9.045115,12.863597,15.076529,10.856095,11.292077,17.090595,13.894782,11.680918,...,13.837443,12.934704,13.103310,10.862716,11.966227,9.398873,13.016897,12.222632,12.288874,9.112139
3,Rosmapr1.b02.130N,13.319530,9.069072,13.300545,15.234292,11.048862,11.349673,17.243210,13.900905,11.690135,...,13.756796,12.784509,13.413380,10.872829,11.922255,9.466908,13.026869,12.220889,12.399056,9.138185
4,Rosmapr1.b03.127N,13.221680,9.078864,12.396849,15.282636,11.359544,11.317785,17.413181,13.932017,11.672953,...,13.837128,12.877401,13.362554,10.949151,12.008984,9.564314,13.090390,12.242019,12.338769,9.125262

In [3]:
#Read the imputed, healthy dataset

df_ctl = pd.read_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Rosmap_r1\Rosmap_r1_imp_ctl.csv")

df_ctl.head()

,protein IDs,VAMP1|P23763,KCTD13|Q8WZ19,TXNDC12|O95881,PDHX|O00330,APIP|Q96GX9,CIAO1|O76071,NNT|Q13423,KIF3B|O15066,ULK1|O75385,...,NUCB1|Q02818,FAM160B1|Q5W0V3,CPNE4|Q96A23,RBBP5|Q15291,FGD4|F8VWL3,S1PR5|Q9H228,GIGYF2|Q6Y7W6,YME1L1|Q96TA2,PPP1R3F|Q6ZSY5,CACNG4|Q9UBN1
0,Rosmapr1.b01.128N,13.067953,9.082677,12.416314,15.215713,11.544804,11.383278,17.339520,13.990985,11.687580,...,13.908293,12.804287,13.516030,10.873913,11.959716,9.356641,12.957578,12.068096,12.492494,9.146135
1,Rosmapr1.b01.130C,13.193027,9.067756,12.556700,15.228523,10.948015,11.266133,17.243797,13.809670,11.740800,...,13.917145,12.822946,13.314250,10.903536,11.941606,9.295596,12.931232,12.109596,12.470924,9.125331
2,Rosmapr1.b02.128C,12.956763,9.080022,12.407020,15.219253,10.881715,11.288207,17.309706,13.958568,11.825408,...,13.959358,12.885925,13.318884,10.847251,11.950048,9.419567,12.997879,12.210511,12.428789,9.148945
3,Rosmapr1.b03.130N,12.920545,9.066479,12.585962,15.050781,10.881078,11.376444,17.222935,14.140238,11.666577,...,14.139719,12.840113,13.467977,10.804050,11.956844,9.601105,13.341597,12.349264,12.364834,9.123157
4,Rosmapr1.b04.128C,13.669616,9.055771,12.318408,15.290853,10.866215,11.304132,17.317078,13.875668,11.710867,...,13.687181,12.935680,13.346846,10.844050,12.064309,9.539704,13.008347,12.315149,12.411438,9.034262

In [7]:
#Average the abundance data of each protein across all diseased samples

df_ad_means = df_ad.loc[:, df_ad.columns != 'protein IDs'].mean()


df_ad_means = pd.DataFrame(df_ad_means, columns = ['Abundance_AD'])
df_ad_means = df_ad_means.reset_index().rename(columns={'index': 'Official Symbol Interactor'})

df_ad_means.head()

  Official Symbol Interactor  Abundance_AD
0               VAMP1|P23763     13.194149
1              KCTD13|Q8WZ19      9.061259
2             TXNDC12|O95881     12.449854
3                PDHX|O00330     15.171357
4                APIP|Q96GX9     10.912222

In [8]:
#Explode the dataset, so each protein name has its own designated row. Otherwise there would be rows that have multiple synonym protein names assigned to them.

df_ad_means['Official Symbol Interactor'] = df_ad_means['Official Symbol Interactor'].str.split('|')

df_ad_means = df_ad_means.explode('Official Symbol Interactor').reset_index(drop=True)

df_ad_means.head()

  Official Symbol Interactor  Abundance_AD
0                      VAMP1     13.194149
1                     P23763     13.194149
2                     KCTD13      9.061259
3                     Q8WZ19      9.061259
4                    TXNDC12     12.449854

In [9]:
print(len(df_ad_means))

17634

In [11]:
#Average the abundance data of each protein across all healthy samples

df_ctl_means = df_ctl.loc[:, df_ctl.columns != 'protein IDs'].mean(axis=0)

df_ctl_means = pd.DataFrame(df_ctl_means, columns = ['Abundance_CTL'])
df_ctl_means = df_ctl_means.reset_index().rename(columns={'index': 'Official Symbol Interactor'})

df_ctl_means.head()

  Official Symbol Interactor  Abundance_CTL
0               VAMP1|P23763      13.160218
1              KCTD13|Q8WZ19       9.066652
2             TXNDC12|O95881      12.442793
3                PDHX|O00330      15.219911
4                APIP|Q96GX9      10.863587

In [12]:
#Explode the dataset, so each protein name has its own designated row. Otherwise there would be rows that have multiple synonym protein names assigned to them.

df_ctl_means['Official Symbol Interactor'] = df_ctl_means['Official Symbol Interactor'].str.split('|')

df_ctl_means = df_ctl_means.explode('Official Symbol Interactor').reset_index(drop=True)

df_ctl_means.head()

  Official Symbol Interactor  Abundance_CTL
0                      VAMP1      13.160218
1                     P23763      13.160218
2                     KCTD13       9.066652
3                     Q8WZ19       9.066652
4                    TXNDC12      12.442793

In [13]:
print(len(df_ctl_means))

17634

In [14]:
df_ad_means.to_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Rosmap_r1\Rosmap_r1_ad_means.csv", index=False)

In [15]:
df_ctl_means.to_csv(r"C:\Users\elvka\.Desktopreal\university\Thesis\Data\Brain\TMT\Rosmap_r1\Rosmap_r1_ctl_means.csv", index=False)